$text-colour: #000000;
$heading-colour: #212121;
$alt-text-colour: #ffffff;
$price-colour: #747474;
$prim-colour: linear-gradient(90deg, #73e0a9 0%, #5b68df 100%);
$shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.15);
